.main {
    padding: 20px;
    min-width: 800px;
  }
  .search{
    min-width: 600px;
  }
  .searchField {
    margin-top: 20px;
    border-radius: 20px;
    background-color: #f2f2f2; /* Light grey background */
  }
  
  .searchField input {
    padding: 10px;
  }
  
  .searchField .MuiOutlinedInput-root:hover .MuiOutlinedInput-notchedOutline {
    border-color: #4a90e2; /* Change border color on hover */
  }
  
  .searchField .MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-notchedOutline {
    border-color: #4a90e2; /* Change border color on focus */
  }
  
  .searchField .MuiInputLabel-outlined.Mui-focused {
    color: #4a90e2; /* Change label color on focus */
  }