@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
html, body {

  height: 100%;
  margin: 0;
  font-family: "Open Sans", sans-serif;

  font-weight: 500;
 
}

.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content {
   /* This makes sure the content area takes up remaining space */
   margin: 0 100px;
}




.search {
    width: 30%;
}

